root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
max_line_length = 9999

[{*.js,*.cjs,*.vue}]
ij_javascript_align_object_properties = 2
ij_javascript_align_var_statements = 2
ij_javascript_var_declaration_wrap = split_into_lines

[{*.ats,*.cts,*.mts,*.ts}]
ij_typescript_object_literal_wrap = split_into_lines
ij_typescript_align_object_properties = 2
ij_typescript_var_declaration_wrap = split_into_lines
ij_typescript_align_var_statements = 2
ij_typescript_imports_wrap = split_into_lines
ij_typescript_align_imports = true

[{*.php,*.inc}]
ij_php_align_class_constants = true
ij_php_align_assignments = true
ij_php_align_enum_cases = true
ij_php_align_group_field_declarations = true
ij_php_align_key_value_pairs = true
ij_php_align_inline_comments = true
ij_php_align_phpdoc_comments = true
ij_php_align_phpdoc_param_names = true
ij_php_comma_after_last_array_element = true
ij_php_force_short_declaration_array_style = true
ij_php_phpdoc_blank_line_before_tags = true
ij_php_phpdoc_blank_lines_around_parameters = true
ij_php_keep_first_column_comment = false
ij_php_array_initializer_new_line_after_left_brace = true
ij_php_array_initializer_right_brace_on_new_line = true

[*.java]
ij_java_align_consecutive_assignments = true
ij_java_align_consecutive_variable_declarations = true
ij_java_align_group_field_declarations = true